<!DOCTYPE html>
<html>
<head>
    <title>My Work</title>
    <style>
        .card-img-top {
            max-width: 50%;
            height: auto;
            text-align: center;
        }
    </style>
</head>
<body>
    {% load static %}
    <div class="container">
        <h1>My Work</h1>
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'images/' %}{{ project.image }}" class="card-img-top" alt="{{ project.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <p class="card-text">Technologies: {{ project.technologies|join:", " }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

